@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body, html {
  background: linear-gradient(#000000 50%,#fff);
  height: 150%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 1)), url("https://www.specialevents.com/sites/specialevents.com/files/styles/article_featured_standard/public/Music_Festival_2017_0.jpg?itok=8LE-EaXr");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, .9)), url("https://thumbs.dreamstime.com/b/concert-stage-illuminated-empty-purple-light-fog-69768402.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  color: white;
  top:50%;
  left:50%;
  transform: translate(0%, 100%);
}

.glow {
  font-size: 120px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9500ffb3, 0 0 40px #9500ffb3, 0 0 50px #9500ffb3, 0 0 60px #9500ffb3, 0 0 90px #9500ffb3;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9500ffb3, 0 0 40px #9500ffb3, 0 0 50px #9500ffb3, 0 0 60px #9500ffb3, 0 0 70px #9500ffb3, 0 0 100px #9500ffb3;
  }
}

// .shift-down-huge{
//   transform: translate(0%, 400%);
// }
// .shift-down-big{
//   transform: translate(0%, 200%);
// }

// .shift-down{
//   transform: translate(0%, 30%);
// }
// .shift-down-small{
//   transform: translate(0%, 10%);
// }
// .shift-down-medium{
//   transform: translate(0%, 50%);
// }

.huge{
  font-size: 120px;
}

.big{
  font-size:60px;
}

.medium{
  font-size:20px;
}

.button {
  border-radius: 4px;
  background-color: #dfdede;
  border: none;
  color: rgba(149, 0, 255, 0.7);
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  opacity:90%;
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.centered{
  text-align: center;
}

.white{
  color:white;
  background:white
}

.text-white{
  color:white;
}

.tile-box{
  opacity:90%;
  background-image: linear-gradient(#9500ffb3 1%
  , rgb(255,255,255) 25%);
  border-radius: 2rem;
  text-emphasis-color: black;
  margin:2vw;
}

h2{
  color: black;
}

.black{
  color:black;
}

.small{
  font-size:50px;
}

.invisible{
  opacity:0%;
}

.form-smaller{
  margin:8vw;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper {
  margin: auto;
  width: 50%;
  opacity: 90%;
}

.info-wrap{
  background-color: black;
  color: black;
  // margin:6rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border-radius: 2rem;
  opacity: 85%;

}

.white-bg{
  background-color: white;
  opacity: 80%;
}

.map{
  height: 400px;
  margin:8rem;
  border-radius: 4px;
  transform: translate(0%,20%)
}
.drop-down{
  transform: translate(0%, 250%);
}