@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body, html {
  background: linear-gradient(#000000 50%,#fff);
  background-repeat: no-repeat;
  height: 150%;
  
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 1)), url("https://www.specialevents.com/sites/specialevents.com/files/styles/article_featured_standard/public/Music_Festival_2017_0.jpg?itok=8LE-EaXr");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, .9)), url("https://thumbs.dreamstime.com/b/concert-stage-illuminated-empty-purple-light-fog-69768402.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, .9)), url("https://img.freepik.com/free-vector/studio-with-stage-lights-spotlight-beams-with-smoke_107791-6026.jpg?t=st=1676422096~exp=1676422696~hmac=2c326970ec556d96e222bda98d0bd65de357e8a0ab177080aa48350da990151e");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  color: white;
  top:50%;
  left:50%;
  transform: translate(0%, 100%);
}

.glow {
  font-size: 120px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9500ffb3, 0 0 40px #9500ffb3, 0 0 50px #9500ffb3, 0 0 60px #9500ffb3, 0 0 90px #9500ffb3;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9500ffb3, 0 0 40px #9500ffb3, 0 0 50px #9500ffb3, 0 0 60px #9500ffb3, 0 0 70px #9500ffb3, 0 0 100px #9500ffb3;
  }
}
.huge{
  font-size: 120px;
}

.big{
  font-size:60px;
}

.medium{
  font-size:20px;
}

.button {
  border-radius: 4px;
  background-color: rgba(149, 0, 255, 0.7);
  border: none;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  padding:20px;
  width: 200px;
  transition: all .7s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  opacity:90%;
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.centered{
  text-align: center;
}

.white{
  color:white;
  background:white
}

.text-white{
  color:white;
}

.tile-box{
  opacity:90%;
  background-image: linear-gradient(#9500ffb3 1%
  , rgb(255,255,255) 25%);
  border-radius: 2rem;
  text-emphasis-color: black;
  margin:2vw;
}

h2{
  color: black;
}
p{
  font-weight: 400;
}
h4{
  font-weight: 500;
}

.black{
  color:black;
}

.small{
  font-size:50px;
}


.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper {
  margin: auto;
  width: 50%;
  opacity: 90%;
}

.info-wrap{
  background-color: black;
  color: black;
  margin-left: 6rem;
  margin-right: 6rem;
  border-radius: 2rem;
  opacity: 90%;

}

.white-bg{
  background-color: white;
  opacity: 80%;
}

.map{
  height: 400px;
  margin:8rem;
  border-radius: 4px;
  text-align: center;
}

.date-string{
  font-style: italic;
  font-weight: 300;
}
.email-string{
  font-style: italic;
  font-weight: 500;
}
.username-string{
  font-weight: 700;
}

form{
  width:60%;
  text-align: center;
  display: inline-block;
}

label{
  font-weight: 500;
  font-size: large;
}

input{
  text-align: center;
  display: inline-block;
}

.left-thirty{
  width: 30%;
  float:left;
  margin: 1.6%;
}
.left-forty{
  width: 45%;
  float:left;
  margin: 1.6%;
}
.left-fifty{
  width: 50%;
  float:left;
  margin: 1.6%;
}

.right-thirty{
  width: 30%;
  float:right;
  margin: 1.6%;
}
.right-forty{
  width: 45%;
  float:right;
  margin: 1.6%;
}
.right-fifty{
  width: 50%;
  float:right;
  margin: 1.6%;
}

.clear{
  clear:both;
}
